.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 15px);
    height: 150px;
    align-items: center;
    padding: 0 15px 0 0px;
}
.theme-toggle{
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}