.box-introduction{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box-introduction p {
  text-align: justify;
}
.links-introduction{
    width: calc(100% - 10px);
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    padding-left: 10px;
  }