.box-introduction{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-introduction p {
  text-align: justify;
}
.links-introduction{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    padding-left: 10px;
  }
.line{
    width: 80px;
  } 