.dark-theme #main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: Row;
    background-color: rgb(15, 15, 15);
    font-family: 'Inter', sans-serif;
  }
  
  .dark-theme #nav-div{
    display: flex;
  flex-direction: column;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1; 
  background-color: transparent;  
  }
  
  .dark-theme #body-div{
    background-color: transparent;
  width: calc(100% - 150px);
  height: 100%;
  }
  
  .dark-theme #footer-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 5%;
  }
  .dark-theme #routes-div{
    margin-top: 5%;
    padding-left: 10%;
  }
  
  .dark-theme h1{
    font-size: 28px;
    font-weight: 500;
    color: rgb(255, 255, 255);

  }
  .dark-theme p{
    font-weight: 200;
    color: gray;
  }
  .dark-theme #navbar-name{
    color: rgb(160, 160, 160);
    font-weight: 200;
    font-size: 15px;
    padding-left: 5%;
  }
  .dark-theme h2{
    font-size: 23px;
    font-weight: 400;
    color: rgb(255, 255, 255);

  }
  .dark-theme h3{
    font-size: 20px;
    font-weight: 200;
    color: rgb(255, 255, 255);

  }
  
  .dark-theme h5{
    line-height: 25px;
      font-weight: 200;
      color: rgb(255, 255, 255);
  }

  .dark-theme .job-location{
    color: rgb(255, 99, 195);
    text-decoration: none;
    font-weight: 200;
    height: 10%;
}  

.isActive{
  display: block;
}
.hidden{
  display: none;
}
.dark-theme.isActiveHi #cursor-hi{
  color: white;
  font-weight: 600;
}
.dark-theme.isActiveAbout #cursor-about{
  color: white;
  font-weight: 600;
}
.dark-theme.isActiveContact #cursor-contact{
  color: white;
  font-weight: 600;
}
.dark-theme.isActiveProject #cursor-project{
  color: white;
  font-weight: 600;
}
.dark-theme.isActiveResume #cursor-resume{
  color: white;
  font-weight: 600;
}
