.main-work-component{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-work-component{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
}
.work-component-left{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.work-component-right{
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}