:root {
  font-family: JetBrains Mono,monospace;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
h2{
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
span{
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
}
p{
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 20px;
  text-align: justify;
}
small{
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 200;
  padding-left: 10px;
  padding-right: 10px;
  color: #808080;
  line-height: 20px;
}
a{
  font-weight: 400;
  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 10px;
}

