.main-projects-component{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box-projects-component{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 250px;
    gap: 10px;    
}