.light-theme #main{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: Row;
  background-color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
}

.light-theme #nav-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1; 
  background-color: transparent; 
}

.light-theme #body-div{
  background-color: transparent;
  width: 90%;
  height: 100%;
}

.light-theme #footer-div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.light-theme #routes-div{
  margin-top: 10%;
  padding-left: 10%;
}

.light-theme h1{
  font-size: 28px;
  font-weight: 500;
  color: black;
}
.light-theme p{
  font-weight: 200;
  color: gray;
}
.light-theme #navbar-name{
  color: rgb(71, 71, 71);
  font-weight: 200;
  font-size: 15px;
  padding-left: 5%;
}
.light-theme h2{
  font-size: 23px;
  font-weight: 400;
}
.light-theme h3{
  font-size: 20px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}

.light-theme h5{
  line-height: 25px;
    font-weight: 200;
    color: black;
}
.light-theme .job-location{
  color: blue;
  text-decoration: none;
  font-weight: 200;
  height: 10%;
}

.isActiveHi #cursor-hi{
  color: rgb(255, 99, 195);
}
.isActiveAbout #cursor-about{
  color: rgb(255, 99, 195);
}
.isActiveContact #cursor-contact{
  color: rgb(255, 99, 195);
}
.isActiveProject #cursor-project{
  color: rgb(255, 99, 195);
}
.isActiveResume #cursor-resume{
  color: rgb(255, 99, 195);
}
.isHiddenHi #cursor-hi{
  color: transparent;
}
.isHiddenAbout #cursor-about{
  color: transparent;
}
.isHiddenContact #cursor-contact{
  color: transparent;
}
.isHiddenProject #cursor-project{
  color: transparent;
}
.isHiddenResume #cursor-resume{
  color: transparent;
}

.cursorButton{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
}
