.dark-theme #main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: Row;
    background-color: rgb(15, 15, 15);
    font-family: 'Inter', sans-serif;
  }
  
  .dark-theme #nav-div{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1; 
    background-color: transparent; 
  }
  
  .dark-theme #body-div{
    background-color: transparent;
    width: 90%;
    height: 100%;
  }
  
  .dark-theme #footer-div{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .dark-theme #routes-div{
    margin-top: 10%;
    padding-left: 10%;
  }
  
  .dark-theme h1{
    font-size: 28px;
    font-weight: 500;
    color: rgb(255, 255, 255);

  }
  .dark-theme p{
    font-weight: 200;
    color: gray;
  }
  .dark-theme h2{
    font-size: 23px;
    font-weight: 400;
    color: rgb(255, 255, 255);

  }
  .dark-theme h3{
    font-size: 20px;
    font-weight: 200;
    color: rgb(255, 255, 255);

  }
  
  .dark-theme h5{
    line-height: 25px;
      font-weight: 200;
      color: rgb(255, 255, 255);
  }

  .dark-theme .job-location{
    color: rgb(255, 99, 195);
    text-decoration: none;
    font-weight: 200;
    height: 10%;
}  

.dark-theme .navbar-iconSpace{
  height: 60px;
  width: 100% - 1rem;
  margin-left: 1rem;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.isActive{
  display: block;
}
.hidden{
  display: none;
}
