#main-hiComponent{
    height: 50%;
    width: 70%;
    margin-left: 10%;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hiComponent-divs{
    height: calc(100%/3);
    width: 96%;
    padding-left: 4%;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: center;
}
#hiComponent-social{
    height: calc(100%/3);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    align-items: baseline;
}

#title-hi{
    font-size: 55px;
    font-weight: 700;
    /* backdrop-filter: blur(5px); */
}
#social-icons-section{
    width: 30%;
    height: 30%;
    justify-content: center;
    align-items: center;
    display: flex;

}
#typing-component-div{
    justify-content: center;
    height: 100%;
    width: 100%;
}
#typing-component-title{
    font-weight: 600;
    font-size: 60px;
}
#typing-component-div span{
    font-size: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    color: black
}